body {
    background-color: rgb(202, 228, 232);
}
img {
    width: 90px;
    border-radius: 10px;
    float: left;
    margin: px;
}  
p {
    font-size: 17px;
}
em {
    color: grey
}
header {
    text-align: center;
}
a:hover {
    color: tomato;
} 
body {
    font-family: 'Roboto', sans-serif;
    padding-top:10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
nav {
    border-radius: 10px;
    background-color: lightblue;
}
.div3 {
    display: inline-block;
    width: 50%;
    border: 1px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.div2 {
    display: flex;
    justify-content: space-between;
}

